            <div class="container" id="userDetails">
                <div class="row"> 
                
                <table class="table table-bordered">                       
                           <tbody>
                              <tr> <td>Name: </td> <td> {{user.name}} </td> </tr>
                              <tr> 
                                <td>Profile Pic.: </td> 
                                <td> <a href="{{'https://github.com/'+username}}" target="_blank">
                                    <img class="img-circle" height="100" width="100" ng-src="{{user.avatar_url}}" title="{{user.name}}"/> </a>
                                </td> 
                              </tr>
                              <tr> <td>Bio:  </td> <td> {{user.bio}} </td> </tr>
                              <tr> <td>Total Repos:  </td> <td> {{user.public_repos}} </td> </tr>
                              <tr> <td>Total Gists:  </td> <td> {{user.public_gists}} </td> </tr>
                              <tr> <td>Followers:  </td> <td> {{user.followers}} </td> </tr>
                              <tr> <td>Following:  </td> <td> {{user.following}} </td> </tr>
                              <tr> <td>Email:  </td> <td> {{user.email || "N/A"}} </td> </tr>                              
                           </tbody>
                         
                 </table>                
                    
                    <div class="span3">  
                    <div class="user_repos"> Repos: </div>
                     <div class="col-md-12 filter-custom no-padding">
                           <span class="order-text col-md-1 no-padding"> Order:  </span> 
                           <div class=" col-md-2">
                            <select ng-model="repoSortOrder" class="form-control">
                              <option value="+name">Name</option>
                              <option value="-stargazers_count">Stars</option>
                              <option value="+language">Language</option>
                            </select>
                          </div>
                      </div>                    
                      <table class="table table-bordered">
                           <head>
                             <tr>
                               <th>Name</th>
                               <th>Stars</th>
                               <th>Language</th>
                               <th>Visit</th>
                             </tr>
                           <tbody>
                              <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                                <td>{{repo.name}}</td>
                                <td>{{repo.stargazers_count | number}}</td>
                                <td>{{repo.language}}</td>
                                <td><a href="{{repo.html_url}}">Visit</a></td>
                              </tr>
                           </tbody>
                           </head>
                         </table>
                       </div>
                    </div>
                </div>
            </div> 